<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/head :: head"></head>
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <div th:replace="/common/sidebar::aside"></div>
        <!--End 左侧导航-->
        <!--头部信息-->
        <div th:replace="/common/header::header"></div>
        <!--End 头部信息-->
        <!--页面主要内容-->
        <main class="lyear-layout-content">


            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-toolbar clearfix">
                                <form id="search-form" class="pull-right search-bar" method="get" action="#!"
                                      role="form">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <input type="hidden" name="search_field" id="search-field" value="role">
                                            <button class="btn btn-default dropdown-toggle" id="search-btn"
                                                    data-toggle="dropdown" type="button" aria-haspopup="true"
                                                    aria-expanded="false">
                                                角色CODE <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a tabindex="-1" href="javascript:void(0)"
                                                       data-field="role">角色CODE</a>
                                                </li>
                                                <li><a tabindex="-1" href="javascript:void(0)"
                                                       data-field="roleName">角色名</a></li>
                                            </ul>
                                        </div>
                                        <input type="text" id="keywork-input" class="form-control" value=""
                                               name="keyword"
                                               placeholder="请输入名称">
                                    </div>
                                </form>
                                <div class="toolbar-btn-action">
                                    <a class="btn btn-primary m-r-5" onclick="add()"><i class="mdi mdi-plus"></i> 新增</a>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>
                                                <label class="lyear-checkbox checkbox-primary">
                                                    <input type="checkbox" id="my-check-all"><span></span>
                                                </label>
                                            </th>
                                            <th>ID</th>
                                            <th>角色CODE</th>
                                            <th>角色名</th>
                                            <th>角色描述</th>
                                            <th>创建者</th>
                                            <th>创建时间</th>
                                            <th>更新者</th>
                                            <th>更新时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody id="data-container">

                                        </tbody>
                                    </table>
                                </div>
                                <div id="pagination-container">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>
<script src="/js/pagination.js"></script>
<script type="text/javascript">
</script>
<script th:src="@{/js/page/roles.js}"></script>
</body>
</html>