<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/head :: head"></head>
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <div th:replace="/common/sidebar::aside"></div>
        <!--End 左侧导航-->
        <!--头部信息-->
        <div th:replace="/common/header::header"></div>
        <!--End 头部信息-->
        <!--页面主要内容-->
        <main class="lyear-layout-content">

        </main>
        <!--End 页面主要内容-->
    </div>
</div>
<script type="text/javascript">
</script>
</body>
</html>