<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lovehao.backend.mapper.PermissionMapper">


    <sql id="permissionDto">
        id,url,name,parent
    </sql>

    <sql id="all">
        id,permission,name,p_desc,url,type,parent,create_by,create_time,update_by,update_time,order_no
    </sql>

    <select id="selectAllUrls" resultType="cn.lovehao.backend.dto.PermissionDto">
        SELECT <include refid="permissionDto" />
        FROM permission
        <where>
            type = 0
        </where>
        ORDER BY order_no
    </select>


    <select id="selectPage" resultType="cn.lovehao.backend.entity.Permission">
       SELECT <include refid="all" />
        FROM permission
        <where>
            type = 0
            <if test="p.permission != null and p.permission != ''">
                and permission LIKE CONCAT('%',#{p.permission},'%')
            </if>
            <if test="p.name != null and p.name != ''">
                and name LIKE CONCAT('%',#{p.name},'%')
            </if>
            <if test="p.url != null and p.url != ''">
                and url LIKE CONCAT('%',#{p.url},'%')
            </if>
            <if test="p.type != null">
                and type = #{p.type}
            </if>
            <if test="p.parent != null and p.parent != ''">
                and parent = #{p.parent}
            </if>
        </where>
        ORDER BY order_no
    </select>


</mapper>
